@import "../../shared/scss/mixins";
@import "../../shared/scss/global";
@import "../../shared/scss/main-section";
@import "../../shared/scss/footer";

.main-section {
    background: url(../img/1.jpg);

    .main-head {
        padding-top: 15%;
        padding-bottom: 15%;
    }
}

.mission {
    p {
        color: #5b5d5e;
        font-size: 60px;
        line-height: 1.275;
    }
}

.custom-gray-bg {
    background: #f5f5f5;
    p {
        font-size: 60px;
        line-height: 1.275;

        a {
            color: #6A7171;
            font-size: 30px;
            &:hover {
                color: #000;
            }
        }
    }
}

.projekte {
    height: 70%; 
    position: relative;
    padding: 0;
    background-color: #f5f5f5;

    &:nth-child(4) {
        background: #fff;
        .projekte-wrapper {
            background: #f5f5f5;
            height: 100%;
            width: 100%;
            clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);

           #projekte-slide-1 {
                background: url(../img/1_1.jpg); 
                @include bg-image;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
            }
        }
    }

    &:nth-child(14) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    }

    & > .container {
        margin-top: 10px;
        left: 0;
        right: 0;
        position: absolute;

        b {
            position: absolute;
            z-index: 50;
        }
    }


    .row {
        height: 100%;

        .col-lg-6 {
            height: 100%;

            &.custom-gray-bg {
                padding: 3rem 3rem;

                .container {
                    left: 0;
                    right: 0;
                    position: absolute;
                }

                p {
                    font-size: 3em;
                    margin-bottom: 0;
                    
                    small {
                        font-size: 0.5em;
                    }
                }
            }


            &#projekte-slide-2 {
                background: url(../img/2_1.jpg);
                @include bg-image;
                @include projekte-right-clip;
            }

            &#projekte-slide-3 {
                background: url(../img/3_1.jpg);
                @include bg-image;
                @include projekte-left-clip;
            }

            &#projekte-slide-4 {
                background: url(../img/4_1.jpg);
                @include bg-image;
                @include projekte-right-clip;
            }

            &#projekte-slide-5 {
                background: url(../img/5_1.jpg);
                @include bg-image;
                @include projekte-left-clip;
            }

            &#projekte-slide-6 {
                background: url(../img/6_1.jpg);
                @include bg-image;
                @include projekte-right-clip;
            }

            &#projekte-slide-7 {
                background: url(../img/7_1.jpg);
                @include bg-image;
                @include projekte-left-clip;
            }

            &#projekte-slide-8 {
                background: url(../img/8_1.jpg);
                @include bg-image;
                @include projekte-right-clip;
            }

            &#projekte-slide-9 {
                background: url(../img/9_1.jpg);
                @include bg-image;
                @include projekte-left-clip;

                background-size: 125% !important;
            }

            &#projekte-slide-10 {
                background: url(../img/10_1.jpg);
                @include bg-image;
                @include projekte-right-clip;
            }

            &#projekte-slide-11 {
                background: url(../img/11_1.jpg);
                @include bg-image;
                clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
            }
        }
    }
}

@media (min-width: 991px) {
    .mission {
        .container {
            margin-right: 0;
            margin-left: 15%;
        }
    }
}

// Setting generic mobile Viewport Settings
@media (max-width: 991px) {
    .main-section {
        .main-head {
            p {
                padding-top:35%;
                padding-bottom:35%;
            }
        }
    }

    .mission {
        p {
            font-size: 2.1rem;
        }
    }

    .projekte {
    }
    // Ensuring each projekte image is at
    // 70% height of the viewport, also accounting
    // for the extra height provided by the collapsed row
    .projekte {
        height: 60rem;

        .row {
            height: 100%;
            
            .col-lg-6 {
                height: 50% !important;

                &.custom-gray-bg {
                    padding: 4rem 3rem;
                    p {
                        font-size: 50px;
                    }
                }
            }
        }

        #projekte-slide-1 {
            & + .custom-gray-bg {
                a {
                    position: relative;
                    z-index: 1;
                }
            }
        }

        #projekte-slide-11 {
            clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 90%) !important;
        }

        // Manual reordering of projektes
        &:nth-child(5),
        &:nth-child(7),
        &:nth-child(9),
        &:nth-child(11),
        &:nth-child(13) {
            .col-lg-6 {
                &:first-child {
                    order: 2;
                }
                &:last-child {
                    order: 1;
                }
            }
        }

        &:nth-child(13) {
            .custom-gray-bg {
                span {
                    font-size: 2.8rem !important;
                }
            }
        }
    }
}

// iPhone 6/7/8 Plus Viewport Settings
@media (max-width: 414px) {
    .projekte {
        &:nth-child(9) {
            .row {
                .col-lg-6.custom-gray-bg {
                    span {
                        font-size: 2.8rem;
                    }
                }
            }
        }
    }
}

// Pixel 2 viewport settings
@media (max-width: 411px) {
    .projekte {

        &:nth-child(9) { // Change font size for kaiser projekte to fit inside the viewport
            .row {
                span {
                    font-size: 2.7rem;
                }
            }
        }
    }
}

// iPhone 6/7/8 Viewport Settings
@media (max-width: 375px) {
    .projekte {
        .col-lg-6.custom-gray-bg {
            p {
                font-size: 2.8rem !important;
            }
        }
        
        &:nth-child(13),
        &:nth-child(9) {
            .col-lg-6.custom-gray-bg {
                span {
                    font-size: 2.6rem !important;
                }
            }
        }
    }
}

// Galaxy S5 viewport Settings
@media (max-width: 360px) {
    .projekte {

        #projekte-slide-3 {
            & + .custom-gray-bg {
                span {
                    font-size: 2.6rem;
                }
            }
        }
        &:nth-child(9) {
            .custom-gray-bg {
                span {
                    font-size: 2.6rem;
                }
            }
        }
        &:nth-child(13) {
            .custom-gray-bg {
                span {
                    font-size: 2.5rem !important;
                }
            }
        }
    }
}

// iPhone 5 SE viewport settings
@media (max-width: 320px) {
    .projekte {
        .row {
            .custom-gray-bg {
                font-size: 0.85rem !important;
            }
        }

        #projekte-slide-3 {
            & + .custom-gray-bg {
                span {
                    font-size: 0.85em !important;
                }
            }
        }

        &:nth-child(9),
        &:nth-child(13) {
            .col-lg-6.custom-gray-bg {
                span {
                    font-size: 0.8em !important;
                }
            }
        }
    }
}

// iPad Viewport Settings
@media (max-width: 1024px) and (min-width: 1024px) and (max-height: 768px) and (min-height: 768px) {
    .projekte {
        &:nth-child(4) {
            .row {
                .col-lg-6.custom-gray-bg {
                }
            }
        }
        
        &:nth-child(9) {
            .row {
                .col-lg-6.custom-gray-bg {
                    span {
                        font-size: 2.8rem !important;
                    }
                }
            }
        }

        .row {
            .col-lg-6 {
                &.custom-gray-bg {
                    padding: 4rem 3rem !important;
                }
            }
        }
    }
}

// iPad Pro Viewport Settings
@media (max-width: 1024px) and (min-width: 1024px) and (max-height: 1366px) and (min-height: 1366px) {
    .projekte {
        & > .container {
            margin-top: 7%;
        }

        .row {
            .col-lg-6 {
                &.custom-gray-bg {
                    padding: 4.8rem 3rem !important;
                }
            }
        }
    }
}
