@import "../../shared/scss/mixins";
@import "../../shared/scss/global";
@import "../../shared/scss/main-section";
@import "../../shared/scss/footer";

.main-section {
    background: url(../img/1.jpg);

    .main-head {
        padding-top: 15%;
        padding-bottom: 15%;
    }
}

.mission {
    p {
        color: #5b5d5e;
        font-size: 2rem;
    }
}

.custom-gray-bg {
    background: #f5f5f5;
}

.projekte {
    height: 30rem;
    position: relative;
    padding: 0;

    svg {
        @include svg-skews;
    }

    & > .container {
        left: 0;
        right: 0;
        position: absolute;
        z-index: 20;
    }

    .row {
        height: 100%;

        .col-lg-6 {
            height: 100%;

            & > svg {
                position: relative;

                .projekte-left,
                .projekte-right {
                    path:nth-child(1) {
                        position: absolute;
                        vertical-align: top;
                        top: 0;
                    }

                    path:nth-child(2) {
                        position: absolute;
                        vertical-align: bottom;
                        bottom: 0;
                    }
                }
            }

            &.custom-gray-bg {
                padding: 8rem 3rem;

                .container {
                    left: 0;
                    right: 0;
                    position: absolute;
                }

                p {
                    font-size: 3em;
                    
                    small {
                        font-size: 0.5em;
                    }
                }
            }

            &#projekte-slide-1 {
                background: url(../img/1_1.jpg); 
                @include bg-image;

                & + .custom-gray-bg {
                    a {
                        position: absolute;
                        z-index: 20;
                    }
                }
            }

            &#projekte-slide-2 {
                background: url(../img/2_1.jpg);
                @include bg-image;
            }

            &#projekte-slide-3 {
                background: url(../img/3_1.jpg);
                @include bg-image;
            }

            &#projekte-slide-4 {
                background: url(../img/4_1.jpg);
                @include bg-image;
            }

            &#projekte-slide-5 {
                background: url(../img/5_1.jpg);
                @include bg-image;
            }

            &#projekte-slide-6 {
                background: url(../img/6_1.jpg);
                @include bg-image;
            }

            &#projekte-slide-7 {
                background: url(../img/7_1.jpg);
                @include bg-image;
            }

            &#projekte-slide-8 {
                background: url(../img/8_1.jpg);
                @include bg-image;
            }

            &#projekte-slide-9 {
                background: url(../img/9_1.jpg);
                @include bg-image;
            }

            &#projekte-slide-10 {
                background: url(../img/10_1.jpg);
                @include bg-image;
            }

            &#projekte-slide-11 {
                background: url(../img/11_1.jpg);
                @include bg-image;

                & + .custom-gray-bg {
                    small {
                        position: absolute;
                        z-index: 20;
                    }
                }
            }
        }
    }
}

// Order for projekte slides after screen is minimized
@media (max-width: 991px) {
    .main-section {
        .main-head {
            p {
                padding-top:35%;
                padding-bottom:35%;
            }
        }
    }




    // Ensuring each projekte image is at
    // 70% height of the viewport, also accounting
    // for the extra height provided by the collapsed row
    .projekte {
        height: 60rem;

        .row {
            height: 100%;
            
            .col-lg-6 {
                height: 50% !important;

                &.custom-gray-bg {
                    padding: 4rem 3rem;
                }
            }
        }

        #projekte-slide-1 {
            & + .custom-gray-bg {
                a {
                    position: relative;
                    z-index: 1;
                }
            }
        }

        // Manual reordering of projektes
        &:nth-child(5),
        &:nth-child(7),
        &:nth-child(9),
        &:nth-child(11),
        &:nth-child(13){
            .col-lg-6 {
                &:first-child {
                    order: 2;
                }
                &:last-child {
                    order: 1;
                }
            }
        }

        &:nth-child(13) {
            .custom-gray-bg {
                span {
                    font-size: 2.8rem !important;
                }
            }
        }
    }
}

@media (max-width: 411px) {
    .projekte{
        &:nth-child(9) {
            .row {
                span {
                    font-size: 3rem;
                }
            }
        }
    }
}


// iPhone 6/7/8 Viewport Settings
@media (max-width: 375px) {
    .projekte {
        &:nth-child(9) {
            .row {
                .custom-gray-bg {
                    span {
                        font-size: 2.5rem !important;
                    }
                }
            }
        }
    }
}

// Galaxy S5 viewport Settings
@media (max-width: 360px) {
    .projekte {

        #projekte-slide-3 {
            & + .custom-gray-bg {
                span {
                    font-size: 2.6rem;
                }
            }
        }
        &:nth-child(9) {
            .custom-gray-bg {
                span {
                    font-size: 2.6rem;
                }
            }
        }
    }
}

// iPhone 5 SE viewport settings
@media (max-width: 320px) {
    .projekte {
        #projekte-slide-3 {
            & + .custom-gray-bg {
                span {
                    font-size: 2.5rem !important;
                }
            }
        }

        &:nth-child(9),
        &:nth-child(13) {
            .row {
                .custom-gray-bg {
                    span {
                        font-size: 2.4rem !important;
                    }
                }
            }
        }
    }
}
