$white: #fff;
$black: #000;

html,
body {
    @include body-font;
    height: 100%;
}

b {
    font-size: 16px !important;
    letter-spacing: 1px !important;
    font-weight: 500 !important;
}

p {
    font-size: 40px !important;
    line-height: 1.2 !important;
    font-weight: 200 !important;
}
