.main-section {
    @include bg-image;
    @include bottom-left-clip;

    svg {
        display: none;
        @include svg-skews;
        z-index: 5 !important;
        &.bottom-left-skew {
            margin-top: 1px;
        }
    }

    .projekte-nav {
        position: absolute;
        top: 51%;
        left: 0;
        right: 0;
        z-index: 5;

        a {
            display: inline-block;
            position: absolute;
            height: 65px;
            width: 65px;
            opacity: 0.5;

            &:nth-child(1) {
                left: 2%;
            }

            &:nth-child(2),
            &.projekte-right-nav {
                right: 2%;
                left: auto;
            }

            &:focus,
            &:hover {
                opacity: 1;
            }
            svg {
                display: inline;
                color: #fff;
            }
        }
    }

    .container {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        color: #ebebeb;
        z-index: 10;

        .main-head {
            p {
                line-height: 1;
                font-size: 65px;
            }

            p,
            b {
                &:hover,
                &:active {
                    color: #fff;
                }
            }
        }
    }
}

// Generic Mobile Viewport Settings
@media (max-width: 991px) {
    .main-section {
        .main-head {
            font-size: 45px;
        }
        .projekte-nav {
            visibility: hidden;
            opacity: 0;
        }
    }
}

// Galaxy S5 Viewport Settings
@media (max-width: 360px) {
    .main-section {
        .main-head {
            p {
                font-size: 43px !important;
            }
        }
    }
}

// iPad Pro
@media (max-width: 1024px) and (min-width: 1024px) and (min-height: 1366px) and (max-height: 1366px) {
    .projekte {
        & > .container {
            margin-top: 0 !important;
        }

        .row {
            .col-lg-6.custom-gray-bg {
                p {
                    font-size: 53px !important;
                }
            }
        }
    }
}
