.main-section {
    @include bg-image;
    @include bottom-left-clip;

    svg {
        @include svg-skews;
        z-index: 5 !important;
    }

    .projekte-nav {
        position: absolute;
        top: 52%;
        left: 0;
        right: 0;
        z-index: 10;

        a {
            display: inline-block;
            position: absolute;
            height: 65px;
            width: 65px;
            opacity: 0.5;

            &:nth-child(1) {
                left: 0;
            }

            &:nth-child(2),
            &.projekte-right-nav {
                right: 0;
                left: auto;
            }

            &:focus,
            &:hover {
                opacity: 1;
                fill: #fff;
            }

            & > svg {
                display: inline;
                fill: #fff;
                &:focus,
                &:hover {
                    opacity: 1;
                    fill: #fff;
                }
            }
        }
    }

    .container {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        color: #ebebeb;
        z-index: 10;

        .main-head {
            color: #fff;

            p {
                line-height: 1;
                font-size: 65px;
                position: absolute;

                &.no-fixed {
                    position: inherit;
                    margin-top: 23vh;
                }
            }
        }
    }
}

@media (min-width: 2200px) {
    .main-section {
        .container {
            .main-head {
                b,
                p {
                    font-size: 85px;
                }
            }
        }
    }
}
@media (min-width: 1441px) {
    .main-section {
        .projekte-nav {
            a {
                &:nth-child(1) {
                    left: 5%;
                }

                &:nth-child(2),
                &.projekte-right-nav {
                    right: 5%;
                    left: auto;
                }
            }
        }
    }
}


// Generic Mobile Viewport Settings
@media (max-width: 991px) {
    .main-section {
        .projekte-nav {
            visibility: hidden;
            opacity: 0;
        }
    }
}

@media (max-width: 360px) {
    .main-section {
        .container {
            p {
                font-size: 56px !important;
            }
        }
    }
}

@media (max-width: 320px) {
    .main-section {
        .container {
            p {
                font-size: 50px !important;
            }
        }
    }
}

// iPad Pro
@media (max-width: 1024px) and (min-width: 1024px) and (min-height: 1366px) and (max-height: 1366px) {
    .projekte {
        & > .container {
            margin-top: 0 !important;
        }

        .row {
            .col-lg-6.custom-gray-bg {
                p {
                    font-size: 53px !important;
                }
            }
        }
    }
}
