@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Pro&display=swap);

.main-section {
    @include bg-image;
    font-family: "Fira Sans", sans-serif;

    svg {
        @include svg-skews;
        &.bottom-left-skew {
            margin-top: 1px;
        }
    }

    .main-head {
        padding-top: 23%;
        padding-bottom: 23%;
        color: #EBEBEB;

        p {
            line-height: 1em;
            font-size: 5em;
        }

        b {
            font-size: 1em;
        }
        p,
        b {
            position: absolute;
            z-index: 30;

            &:hover,
            &:active {
                color: #fff;
            }
        }
    }
}

@media (max-width: 991px) {
    .main-section {
        .main-head {
            padding-top: 15rem !important; 
            padding-bottom: 15rem !important; 
            
            p {
                font-size: 2.5rem;
            }
        }
    }
}

// Galaxy S5 viewport Settings
@media (max-width: 320px) {
    .main-section {
        .main-head {
            p {
                font-size: 2.2rem !important;
            }
        }
    }
}
