@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,200,200i,300,400,700&display=swap);

@mixin body-font() {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #6A7171;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin bg-image() {
    height: 100%;
	padding: 0;
  	background-position: center !important; 
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

@mixin svg-skews() {
    display: block;
    position: absolute;
    height: 101% !important;
    width: 100% !important;
    z-index: 10;
}

// Full Section Page Clips
@mixin bottom-left-clip() {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

@mixin bottom-left-clip-mobile() {
    clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
}

// Projekte section Clips
@mixin projekte-right-clip() {
    clip-path: polygon(0 0, 100% 10%, 100% 95%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 95%, 0 100%);
}

@mixin projekte-left-clip() {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 90%);
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 90%);
}

// Projekte clips for mobile
@mixin projekte-left-mobile-clip() {
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 97%);
    -webkit-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 97%);
}

@mixin projekte-right-mobile-clip() {
    clip-path: polygon(0 0, 100% 5%, 100% 97%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 97%, 0 100%);
}

// Projekte showcase pages clips
@mixin slide-1-clip() {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 95%);
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 95%);
}

@mixin slide-2-clip() {
    margin-top: -5%;
    clip-path: polygon(0 0, 100% 5%, 100% 90%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 90%, 0 100%);
}

@mixin slide-3-clip() {
    margin-top: -10%;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 95%);
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 95%);
}

// Mobile Projekte Schowcase Pages Clips
@mixin slide-1-mobile-clip() {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 97%);
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 97%);
}

@mixin slide-2-mobile-clip() {
    margin-top: -7%;
    clip-path: polygon(0 0, 100% 3%, 100% 95%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 3%, 100% 95%, 0 100%);
}

@mixin slide-3-mobile-clip() {
    margin-top: -9%;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 97%);
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 97%);
}
