@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,400,700&display=swap);

@mixin body-font() {
    font-family: "Fira Sans", sans-serif !important;
    font-weight: 100;
    font-size: 20px;
    color: #6A7171;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

@mixin bg-image() {
    height: 100%;
	padding: 0;
  	background-position: center !important; 
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

@mixin svg-skews() {
    display: block;
    position: absolute;
    height: 101% !important;
    width: 100% !important;
    z-index: 10;
}

@mixin slide-1-clip() {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 95%);
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 95%);
}

@mixin slide-2-clip() {
    margin-top: -5%;
    clip-path: polygon(0 0, 100% 5%, 100% 90%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 90%, 0 100%);
}

@mixin slide-3-clip() {
    margin-top: -10%;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 95%);
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 95%);
}

@mixin bottom-left-clip() {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

@mixin projekte-right-clip() {
    clip-path: polygon(0 0, 100% 10%, 100% 95%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 95%, 0 100%);
}

@mixin projekte-left-clip() {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 90%);
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 90%);
}
