section {
    position: relative;

    &:nth-child(4) {
        @include slide-1-clip;
    }

    &:nth-child(5) {
        top: -5%;
        @include slide-2-clip;
        & + footer {
            position: relative;
            top: -5%;
        }
    }

    &:nth-child(6) {
        top: -15%;
        @include slide-3-clip;
        & + footer {
            position: relative;
            top: -15%;
        }
    }

    &:nth-child(7) {
        top: -20%;
        @include slide-2-clip;
        & + footer {
            position: relative;
            top: -20%;
        }
    }

    &.no-top {
        top: 0 !important;
    }
}

// Generic Mobile Viewport Settings
@media (max-width: 991px) {
    section {
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
            height: 20rem;

            .row {
                height: 20rem;

                .col-sm-6 {
                    height: 20rem;
                }
            }
        }

        &:nth-child(3) {
            .container {
                .row:first-child {
                    .col-lg-6.text-column {
                        padding-top: 2.4rem !important;
                        padding-bottom: 0 !important;
                    }
                }

                .row:last-child {
                    .col-lg-6.text-column:first-child {
                        padding-top: 10px !important;
                        padding-bottom: 0 !important;
                    }

                    .col-lg-6.text-column:last-child {
                        padding-top: 10px !important;
                        padding-bottom: 2rem !important;
                    }
                }
            } 
        }

        & > .top-left-skew,
        & > .bottom-left-skew,
        & > .projekte-page-bottom-left-skew {
            height: 20rem !important;
        }
    }
}


// iPhone 6/7/8 Viewport Settings
@media (max-width: 414px) {
    .text-column {
        p {
            font-size: 19px !important;
        }
    }
}

// iPhone 5SE
@media (max-width: 320px) {
    .text-column {
        p {
            font-size: 16px !important;
        }
    }
}
