.top-left-skew,
.projekte-top-right-skew,
.projekte-top-left-skew {
    @include svg-skews;
    margin-top: -4px;
}

.bottom-left-skew,
.projekte-page-bottom-left-skew {
    top: 0;
    position: absolute;
    @include svg-skews;
}
