@import "../../../shared/scss/mixins";
@import "../../../shared/scss/global";
@import "../../../shared/scss/navbar";
@import "../../../shared/scss/skews";
@import "../../../shared/scss/projekte_showcase";
@import "../../../shared/scss/text-column";
@import "../../../shared/scss/main-section";
@import "../../../shared/scss/footer";

.main-section {
    background: url("../img/3_1_lg.jpg");
}

.section-slide-1 {
	@include bg-image;
	background: url("../img/3_4_lg.jpg");
    background-position: 50% 5% !important;
}

.section-slide-2 {
	@include bg-image;
    background: url("../img/3_2_lg.jpg");
}

.section-slide-3 {
	@include bg-image;
	background: url("../img/3_3_lg.jpg");
}

.section-slide-4 {
	@include bg-image;
	background: url("../img/3_5_lg.jpg");
}

.section-slide-5 {
	@include bg-image;
	background: url("../img/3_6_lg.jpg");
}

@media (max-width: 992px) {
    section {
        &:nth-child(6) {
            margin-top: -4.6%;
        }
    }
}
