@import "../../../shared/scss/mixins";
@import "../../../shared/scss/global";
@import "../../../shared/scss/navbar";
@import "../../../shared/scss/skews";
@import "../../../shared/scss/projekte_showcase";
@import "../../../shared/scss/text-column";
@import "../../../shared/scss/main-section";
@import "../../../shared/scss/footer";

.main-section {
    background: url("../img/3_1_lg.jpg");
}

.section-slide-1 {
	@include bg-image;
	background: url("../img/3_4_lg.jpg");
    background-position: 50% 5% !important;
}

.section-slide-2 {
	@include bg-image;
    background: url("../img/3_2_lg.jpg") #1a1d26;
    background-size: 25% !important;
}

.section-slide-3 {
	@include bg-image;
	background: url("../img/3_5_lg.jpg");
}

.section-slide-4 {
	@include bg-image;
	background: url("../img/3_6_lg.jpg");
}

@media (max-width: 991px) {
    .section-slide-2 {
        background-size: 50% !important;
    }
}

@media (max-width: 1024px) {
    .section-slide-2 {
        background-size: 35% !important;
    }
}

@media (max-width: 1440px) {
    .section-slide-2 {
        background-size: 30% !important;
    }
}

@media (max-width: 1366px) {
    .section-slide-2 {
        background-size: 25% !important;
    }
}
