@mixin body-font() {
  font-family: 'Source Sans Pro';
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

@mixin heading-font() {
  font-weight: 400;
  font-family: 'Source Sans Pro';
}
