@import "../../../shared/scss/mixins";
@import "../../../shared/scss/global";
@import "../../../shared/scss/navbar";
@import "../../../shared/scss/skews";
@import "../../../shared/scss/projekte_showcase";
@import "../../../shared/scss/text-column";
@import "../../../shared/scss/main-section";
@import "../../../shared/scss/footer";

.main-section {
    background: url("../img/2_1_lg.jpg");
}

.section-slide-1 {
	@include bg-image;
	background: url("../img/2_2_lg.jpg");
}

.section-slide-2 {
	@include bg-image;
	background: url("../img/2_3_lg.jpg");
}

.section-slide-3 {
	@include bg-image;
	background: url("../img/2_4_lg.jpg");
}

.section-slide-4 {
	@include bg-image;
	background: url("../img/2_5_lg.jpg");
}

.main-section, .main-section * {
	color: #4a5050!important;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
	color: #4a5050!important;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
	color: #4a5050!important;
}

#mainNav .navbar-nav li.nav-item .btn-group div {
	display: inline-flex;
	background: #4a5050!important;
}
