@import "../../../shared/scss/mixins";
@import "../../../shared/scss/global";
@import "../../../shared/scss/skews";
@import "../../../shared/scss/projekte_showcase";
@import "../../../shared/scss/navbar";
@import "../../../shared/scss/text-column";
@import "../../../shared/scss/main-section";
@import "../../../shared/scss/footer";

.main-section {
    background: url("../img/5_4_lg.jpg");
}

.section-slide-1 {
	@include bg-image;
	background: url("../img/5_3_lg.jpg");
}

.section-slide-2 {
    @include bg-image;
    background: url("../img/5_5_lg.jpg") #5c67a9;
    background-size: 60% !important;
}

.section-slide-3 {
    @include bg-image;
    background: url("../img/5_2_lg.jpg") #d78a6c;
    background-size: 60% !important;
}

@media (max-width: 991px) {
    .section-slide-2 {
        background-size: 100% !important;
    }

    .section-slide-3 {
        background-size: 100% !important;
    }
}
