@import url(https://fonts.googleapis.com/css?family=Fira+Sans&display=swap);

@mixin body-font() {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100 !important;
    font-size: 20px;
    color: #6A7171;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

@mixin heading-font() {
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
