@import "../../../shared/scss/mixins";
@import "../../../shared/scss/global";
@import "../../../shared/scss/text-column";
@import "../../../shared/scss/main-section";
@import "../../../shared/scss/footer";

.main-section {
    background: url("../img/8_1_lg.jpg");
}

.section-slide-1 {
	@include bg-image;
	background: url("../img/8_3_lg.jpg");

	svg {
		@include svg-skews;
        margin-top: -1px;
	}
}

.section-slide-2 {
	@include bg-image;
	background: url("../img/8_2_lg.jpg");
	background-size: 110% !important;
    
	svg {
		@include svg-skews;
	}
}


@media (max-width: 414px) {
    .section-slide-2 {
        background-size: 370% !important;
        background-position: center !important;
    }
}

// iPad Viewport Settings
@media (max-width: 768px) and (min-height: 1024px) and (min-width: 768px) and (max-height: 1024px) {
    .section-slide-2 {
        background-size: 230% !important;
    }
}

// iPad Pro Settings
@media (max-width: 1024px) and (min-width: 1024px) and (max-height: 1366px) and (min-height: 1366px) {
    .section-slide-2 {
        background-size: 240% !important;
    }
}
