@import "../../../shared/scss/mixins";
@import "../../../shared/scss/global";
@import "../../../shared/scss/navbar";
@import "../../../shared/scss/skews";
@import "../../../shared/scss/text-column";
@import "../../../shared/scss/main-section";
@import "../../../shared/scss/footer";

.main-section {
    background: url("../img/8_1_lg.jpg");
}

.section-slide-1 {
	@include bg-image;
    @include slide-1-clip;
	background: url("../img/8_3_lg.jpg");
}

.section-slide-2 {
	@include bg-image;
    @include slide-2-clip;
	background: url("../img/8_2_lg.jpg");
	background-size: 110% !important;
}

.section-slide-3 {
	@include bg-image;
    @include slide-3-clip;
	background: url("../img/8_3_lg.jpg");
}

@media (max-width: 414px) {
    .section-slide-2 {
        background-size: 370% !important;
        background-position: center !important;
    }
}

// iPad Viewport Settings
@media (max-width: 768px) and (min-height: 1024px) and (min-width: 768px) and (max-height: 1024px) {
    .section-slide-2 {
        background-size: 230% !important;
    }
}

// iPad Pro Settings
@media (max-width: 1024px) and (min-width: 1024px) and (max-height: 1366px) and (min-height: 1366px) {
    .section-slide-2 {
        background-size: 240% !important;
    }
}
